html, body, .container{
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container{
  background-color: #007ced;
	background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}
#cloud-intro{
  position: relative;
  height: 100%;
  background: url(clouds1.png);
  background: url(clouds1.png) 0 200px,
              url(clouds2.png) 0 300px,
              url(clouds3.png) 100px 250px;
	animation: wind 20s linear infinite;
}
@keyframes wind{
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }

}

.form1 {
    max-width: 650px;
    margin: 20px auto 0 auto;
}

label {
    font-size: 0.8rem;
    color: #000;
    font-weight: bold;
}

label.tab {
    display: inline-block;
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 13px;
    height: 24px;
    margin: 0 0 0 0;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-radius: 4px 4px 0 0;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

label.tab-4 {
    border-right: 1px solid #000;
}
label.tab-5{
	border-right:1px solid #000;
}
label.tab-6{
	border-right:1px solid #000;
}

.paren {
    font-weight: normal;
}

input {
    border: 1px solid #ccc;
    font-weight: normal;
    margin-top: 3px;
}

#rad-1,
#rad-2,
#rad-3,
#rad-4,
#rad-5 ,
#rad-6{
    display: none;
}

fieldset {
    display: none;
}

input#rad-1:checked ~ fieldset.tab-1-content,
input#rad-2:checked ~ fieldset.tab-2-content,
input#rad-3:checked ~ fieldset.tab-3-content,
input#rad-4:checked ~ fieldset.tab-4-content,
input#rad-5:checked ~ fieldset.tab-5-content,
input#rad-6:checked ~ fieldset.tab-6-content{
    margin-left: 0;
    margin-right: 0;
    display: block;
    border: 1px solid #000;
    border-radius: 0 4px 4px 4px;
    max-height: calc(70vh);
    overflow: auto;
	background-color:white;
}

input#rad-1:checked ~ label.tab-1,
input#rad-2:checked ~ label.tab-2,
input#rad-3:checked ~ label.tab-3,
input#rad-4:checked ~ label.tab-4,
input#rad-5:checked ~ label.tab-5 ,
input#rad-6:checked ~ label.tab-6{
    background-color: #ccc;
    color: black;
}


::-webkit-input-placeholder {
    color: #aaa;
}

:-moz-placeholder {
    color: #aaa;
}

::-moz-placeholder {
    color: #aaa;
}

:-ms-input-placeholder {
    color: #aaa;
}