@import url(https://fonts.googleapis.com/css?family=Bangers);
html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	margin: 0;
	padding: 0;
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: default;
	visibility: hidden;
}
.prx {
	position: absolute;
	color: #FFF;
	font-family: 'Bangers', cursive;
	font-size:1.5em;
	overflow: hidden;
}
.button {
	cursor:pointer;
	font-size:3em;
	text-decoration: none;
}
.button:hover {
	color: #F80;
}
.txt {
	color:#777;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: 10%;
    width: 40%;
    height: 70%;
    background-color: black;
	border-style:solid;
	border-color:white;
	border-width:1px;
	border-radius:20px;
}
.questionmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 5%;
    top: 5%;
    width: 80%;
    height: 80%;
    background-color: black;
	border-style:solid;
	border-color:white;
	border-width:1px;
	border-radius:20px;
}